<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${review.languageName}">Language</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
		<header>
			<h1 th:text="${review.languageName}">Language Name</h1>
		</header>
		<main>
		<section class = "info">
			<figure>
           		<img th:src="|/images/${review.reviewImageUrl}.jpg|"/>
        	</figure>
			<ul>
				<li>
					<h2>Language Type</h2>
					<address th:text="${review.category.categoryName}">Category Name</address>
				</li>
				<li>
					<h2>Year Created</h2>
					<p th:text="${review.yearCreated}">XXXX</p>
				</li>
				<li>
					<h2>User-Friendliness</h2>
					<p th:text="|${review.userFriendliness}/10|">Rating</p>
				</li>
				<li>
					<h2>Usefulness</h2>
					<p th:text="|${review.usefulness}/10|">Rating</p>
				</li>
				<li>
					<h2>Review</h2>
					<p th:text="${review.reviewText}">Review Text</p>
				</li>
			</ul>
		</section>

			<div class="comments">
				<p>Enter your comment here:</p>

				<form id="frm1" th:action="|/reviews/${review.id}|" method="post">
				  <label>Username: </label><br>
				  <input type="text" name="username"><br>
				  <label>Comment: </label><br>
				  <textarea name="content" id="user-comment" rows="5" 	cols="40"></textarea><br>
				<span id="comment-count" class="hide"></span>
				  <input type="submit" onclick="myFunction()" value="My fucking comment">
				</form>
				
				<h2 id="comments-section">Comments</h2><br>
				<ul>
					<li th:each="comment : ${review.comments}">
						<h3 th:text="${comment.username}"></h3><br>
						<p	th:text="${comment.content}"></p><br>
					</li>			
				</ul>
			</div>

			<div>
				<label>Add Tag <input type="Tag" name="tagName"></label>
				<button class="submitTag">Submit Tag</button>
			</div>
			
		</main>
		<footer>
			<p><a th:href="|/categories/${review.category.id}|">Back to Language Category</a></p>
			<p><a href="/categories">Back to Home</a></p>
			<small>&copy; 2018</small>
		</footer>
	</div>	
	<script>
function myFunction() {
    document.getElementById("frm1").submit();
}
</script>
</body>
</html>